<div class="filter p-4">
  <h6>Filtros:</h6>
  <form [formGroup]="filterForm">
    <div class="row">
      <div class="col-12 col-sm-3 d-flex flex-column">
        <label>Nome:</label>
        <input formControlName="nome" />
      </div>
      <div class="col-12 col-sm-3 d-flex flex-column">
        <label>Email:</label>
        <input formControlName="email" />
      </div>
      <div class="col-12 col-sm-3 d-flex flex-column">
        <label>Celular:</label>
        <input
          mask="(00) 00000-0000"
          placeholder="(99) 99999-9999"
          formControlName="celular"
        />
      </div>
      <div class="col-12 col-sm-3 d-flex flex-column">
        <label>Telefone:</label>
        <input
          formControlName="telefone"
          mask="(00) 00000-0000"
          placeholder="(99) 99999-9999"
        />
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-6 col-sm-3 d-flex flex-column">
        <label>Apenas Favoritos:</label>
        <ui-switch formControlName="favorito"></ui-switch>
      </div>
      <div class="col-6 col-sm-3 d-flex flex-column">
        <label>Apenas Inativos:</label>
        <ui-switch formControlName="ativo"></ui-switch>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-3 d-flex justify-content-end">
        <button
          style="background: #f39c12; border: 2px solid #f39c12"
          (click)="filter()"
        >
          buscar
        </button>
      </div>
    </div>
  </form>
</div>

<div class="table mt-4">
  <div class="table__title">
    <h3>Contatos</h3>
    <button (click)="goToRegister()">Adicionar</button>
  </div>

  <div class="table__content">
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Celular</th>
          <th>Telefone</th>
          <th>Cadastro</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let contact of contactsFilter">
          <tr [ngClass]="{ 'inactive-contact': contact.ativo == 'N' }">
            <td>
              {{ contact.nome }}
            </td>
            <td>{{ contact.email }}</td>
            <td>{{ contact.celular | phoneNumber }}</td>
            <td>{{ contact.telefone | phoneNumber }}</td>
            <td>{{ contact.dateCadastro | formatDate }}</td>
            <td>
              <i
                class="las la-edit"
                style="color: blue"
                title="Editar"
                (click)="updateContact(contact.id)"
              ></i>
              @if(contact.favorito == 'S'){
              <i
                class="las la-star"
                (click)="favoriteContact(contact)"
                style="color: #bebe25"
                title="Desfavoritar"
              ></i>
              }@else {
              <i
                class="lar la-star"
                (click)="favoriteContact(contact)"
                style="color: #bebe25"
                title="Favoritar"
              ></i>
              } @if(contact.ativo == 'S'){
              <i
                class="las la-stop-circle"
                style="color: orange"
                (click)="inactiveContact(contact)"
                title="Inativar"
              ></i>
              }@else {
              <i
                class="las la-plus-circle"
                style="color: green"
                (click)="inactiveContact(contact)"
                title="Ativar"
              ></i>
              }
              <i
                class="las la-trash"
                style="color: red"
                (click)="deleteContact(contact)"
                title="Excluir"
              ></i>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
