<div class="table">
  <div class="table__title">
    <h3>Contatos</h3>
    <button (click)="goToRegister()">Adicionar</button>
  </div>
  <div class="table__content">
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Celular</th>
          <th>Telefone</th>
          <th>Cadastro</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let contact of contacts">
          <tr [ngClass]="{ 'inactive-contact': !contact.ativo }">
            <td>
              {{ contact.nome }}
            </td>
            <td>{{ contact.email }}</td>
            <td>{{ contact.celular | phoneNumber }}</td>
            <td>{{ contact.telefone | phoneNumber }}</td>
            <td>{{ contact.dateCadastro | formatDate }}</td>
            <td>
              <i
                class="las la-edit"
                style="color: blue"
                title="Editar"
                (click)="updateContact(contact.celular)"
              ></i>
              @if(contact.favorito){
              <i
                class="las la-star"
                (click)="favoriteContact(contact)"
                style="color: #bebe25"
                title="Desfavoritar"
              ></i>
              }@else {
              <i
                class="lar la-star"
                (click)="favoriteContact(contact)"
                style="color: #bebe25"
                title="Favoritar"
              ></i>
              } @if(contact.ativo){
              <i
                class="las la-stop-circle"
                style="color: orange"
                (click)="inactiveContact(contact)"
                title="Inativar"
              ></i>
              }@else {
              <i
                class="las la-plus-circle"
                style="color: green"
                (click)="inactiveContact(contact)"
                title="Ativar"
              ></i>
              }
              <i
                class="las la-trash"
                style="color: red"
                (click)="deleteContact(contact)"
                title="Excluir"
              ></i>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
