@import "../../../../../sass/abstracts/variables";

$azul-claro: #319bd7;
$laranja: #f39c12;

.filter {
  border-radius: 5px;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 4px 12px rgba(0, 0, 0, 0.15);
}

button {
  border: 2px solid $segundary;
  background: $primary;
  color: white;
  width: 160px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  &:hover {
    border: 2px solid $segundary;
    background: $primary;
  }
}
